* {
    margin: 0;
    padding: 0;
}

html, body{	
	font-size: 16px;
    color: #404040;
    font-family: 'Lato', sans-serif;
}

.color-orange{
    color: #FA9017 !important;
}

.font-dancing{
    font-family : 'Dancing Script', cursif ;
}

/* HEADER-NAVBAR*/
.navbar-nav li a {
	font-weight: 700;
    color: #404040;
}

.trait1:after {
    display:block;
    content: '';
    border-bottom: solid 3px #FA9017 !important;  
    transition: transform 250ms ease-in-out;
}

.trait:after {
    display:block;
    content: '';
    border-bottom: solid 3px #FA9017 !important;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.trait:hover:after { transform: scaleX(1); }

/* header-content */
.header-content{
    position: relative;
}

.centered-left {
    position: absolute;
    top: 80px;
    left: 40px;
    bottom: 200px;
}

.centered-left h1 {
	font-style: normal;
    font-weight: normal;
    font-size: 60px;
}

.overlay{
    position: relative;
}

.overlay::before {
    content: '';
    background-color: rgba(92, 91, 91, 0.384);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.btn-orange{
    background-color: #FA9017 !important;
    font-size: 1rem !important;
}

.btn-orange:hover{
    background-color: #fff !important;
    color: #FA9017 !important;
}

@media screen and (max-width: 600px) {
    .navbar-nav li {
        text-align: center;
        font-size: .8rem;
    }
}

@media screen and (max-width: 900px) {
    .navbar-nav li {
        text-align: center;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 600px) {
    .centered-left {
        position: absolute;
        top: 50px;
        left: 40px;
        bottom: 200px;
    }
    .centered-left h1 {
        display: none!important;
    }

    .centered-left p {
        display: none!important;
    }

    .btn-orange{
        display: none!important;
    }
}

@media screen and (max-width: 900px) {
    .centered-left {
        position: absolute;
        top: 20px;
        left: 40px;
        bottom: 200px;
    }

    .centered-left h1 {
        font-style: normal;
        font-weight: normal;
        font-size: 40px !important;
        line-height: normal;
    }

    .centered-left p {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: normal;
    }

    .btn-orange{
        background-color: #FA9017 !important;
        font-size: .8rem !important;
    }
}

/* article */
.card-article{
    margin-top: 3rem;
	margin-bottom: 0rem !important;
}

.image{
    border-radius: 10px;
}

.image img{
	width: 20rem;
    height: 18rem;
    border-radius: 10px;
}

a{
    text-decoration: none !important;
}

.article{
    position: relative;
}

.article .date {
	position: absolute;
    background-color: #FA9017;
    color: #fff;
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

.date a{
    text-decoration: none;
    color: #fff !important;
}

.card-body p a{
    text-decoration: none;
    color: #000 !important;
}

.size-1{
    font-size: 1.1rem !important;
}

.size-2{
    font-size: 1.5rem;
}

.btn-orange3{
    text-align: center;
    border: 1px solid #FA9017 !important;
    font-size: 1.1rem !important;
    color: rgba(0, 0, 0, 0.78) !important;
    text-decoration: none;
}

.btn-orange3:hover{
    background-color: #FA9017 !important;
    text-align: center;
    font-size: 1.1rem !important;
    color: #fff !important;
    text-decoration: none;
    transition: .3s;
}

.post-categories {
	list-style: none;
	margin-bottom: 0rem !important;
}

.post-categories a{
	color: #FA9017 !important;
}

.title a{
	color: #000 !important;
}

.marge{
	padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 2rem;
}

.couleur a{
	color: #FA9017 !important;
}
