body{
    font-family: 'Lato', sans-serif;
}

.bg-image{
    background: linear-gradient(180deg, rgba(56, 54, 54, 0.25) 0%, rgba(36, 34, 34, 0.5) 100%), url(../images/img-article/porto3.jpg) no-repeat center / cover;
}

.bg-dassa{
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.5) 10%, rgba(10, 10, 10, 0.5) 100%), url(../images/img-article/dassa1.jpeg) no-repeat center / cover;
}

.bg-astuce{
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.5) 10%, rgba(10, 10, 10, 0.5) 100%);
}

.bg-astuce1{
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.5) 10%, rgba(10, 10, 10, 0.5) 100%), url(../images/img-article/wayi2.jpg) no-repeat center / cover;
}

.bg-astuce2{
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.5) 10%, rgba(10, 10, 10, 0.5) 100%), url(../images/img-article/images.jpg) no-repeat center / cover;
}

.bg-orange{
    background: #FA9017 !important;
}

.navbar-nav li a {
	font-weight: 700;
    color: #404040;
}

.trait1:after {
    display:block;
    content: '';
    border-bottom: solid 3px #FA9017 !important;  
    transition: transform 250ms ease-in-out;
}

.trait:after {
    display:block;
    content: '';
    border-bottom: solid 3px #FA9017 !important;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.trait:hover:after { transform: scaleX(1); }

section a{
    color:  #404040 !important;
}

.orange-line:hover{
    border-bottom: 3px solid #FA9017;
    font-weight: 700 !important;
   }

.tall-autor{
    width: 7rem;
}

.tall-icon{
    width: 2rem;
}

.no-border{
    border: none !important;
}

.ajust-text{
    text-align: justify !important;
}

.bg-form{
    background: url(../images/img-article/formulaire.jpg) no-repeat center / cover;
}

.btn-warning {
    color: #000;
    background-color: #FA9017 !important;
    border-color: #FA9017 !important;
  }

/* .losange{
    width  : 0;
  height : 0;
  border : 7px solid transparent;
  border-bottom : 7px solid #FA9017;
  position : relative;
  top : -25px;
  }

  
  .losange:after {
    width  : 0;
    height : 0;
    content : '';
    position : absolute;
    left : -50px;
    top  : 35px;
    border : 7px solid transparent;
    border-top : 7px solid #FA9017;
  } 
  


.trait-orange{
    font-size: x-large;
}

.trait-orange::before{
    content: '';
    height: 1.5px;
    position: absolute;
    background-color: #FA9017;
    width: 17%;
    margin-left: -20%;
    margin-top: 15px;
}

.trait-orange::after{
    content: '';
    height: 1.5px;
    position: absolute;
    background-color: #FA9017;
    width: 17%;
    margin-left: 3%;
    margin-top: 15px;
}*/

.tall-trait{
    width:31%;
    height:2%;
}

.bor-rad{
    border-radius: 0.7rem !important;
}

.fw-gras {
    font-weight: 500 !important;
  }

.btn-outline-warning{
    border-color: #FA9017 !important;
}

.btn-outline-warning:hover{
    background: #FA9017 !important;
}

.message{
    width: 78% !important;
}

.message1{
    border-radius: 14px !important; 
    background-color: #E1DFDF !important;
}


.message2{
    color: #8D8D8D;
    background-color: #8D8D8D !important;
}

.text-black{
    color: black !important;
}

.tall-icon2{
    width: 1.7rem;
}

.post__content p{
    text-align: justify;
}

figure img{
	height: 25rem;
}

.comment__list .even .comment { 
    background-color:#ccddf2; 
    } 

 .commentlist .odd .comment {
        background-color:#CCCCCC;
  } 

  .comment__list, .children{
    list-style: none;
  }

  .avatar{
      border-radius: 50%;
  }

  .says{
      display:none;
  }
  .comments__title{
    display:none;
  }
.comment-meta {
    margin-left: 5rem;
}

.comment-meta p{
    margin-left: 5rem;
}

.url{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.comment-meta a{
    text-decoration: none;
    color: #000;
}

.comment-edit-link{
    text-decoration: none;
    border: 1px solid #FA9017 ;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.comment-reply-link{
    text-decoration: none;
    border: 1px solid #FA9017 ;
    border-radius: 0.3rem;
    padding: 0.5rem;
}



#comment{
    border-radius: 0.3rem;
}

.comment-reply-title {
    display: none;
}

.logged-in-as {
    display: none;
}

.comment-form-comment label {
    display: none;
}

.comment-form-comment textarea {
    border-radius: 14px !important; 
    background-color: #E1DFDF !important;
	border: none;
	margin-top: 1.5rem;
	margin-left: 2rem;
}

.reply a {
	background-color: #FA9017;
	color: #fff;
}

.form-submit .submit {
	background-color: #fff;
	border: 1px solid #FA9017 !important;
	padding-right: 1rem !important;
    padding-left: 1rem !important;
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
	border-radius: 0.7rem !important;
	color: rgba(0, 0, 0, 0.5) !important;
	margin-left: 2rem;
	margin-bottom: 2rem;
	
}

.form-submit .submit:hover{
    background: #FA9017 !important;
	color: #fff !important;;
}