body{
    font-family: 'Lato', sans-serif;
}

section h1{
    font-family: 'Dancing Script', cursive;
    font-size: calc(3.937rem + 1.5vw) !important;
}

section{
    text-align: justify !important;
}



.bg-orange{
    background: #FA9017 !important;
}


.social{
    border: 2px solid #FA9017;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px;
}