

.color-orange{
    color: #FA9017 !important;
}


/* HEADER-NAVBAR*/
/* .my-menu ul{ */
	/* display: flex; */
	/* flex-direction: column; */
    /* padding-left: 0; */
    /* margin-bottom: 0; */
/* } */

.my-menu ul {
    display: none;
}

.my-menu li:hover > ul {
    display: block;
	z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
	position: absolute;
}

.menu-item-has-children > a::after {
    content: "▼";
	display: flex;
	font-size: 12px;
	
}

.my-menu li {
    position: relative;
}

.bg-light{
    background-color: #fff !important;
}

.sub-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0.125rem;
}

.my-menu li{
	display: inline-block;
	list-style: none !important;
	margin-right: 1.5rem !important;
	font-size: 1rem;
}

.my-menu li a {
    color: #404040;
	text-decoration: none;
	font-weight: 700 !important; 
}

.my-menu li a:after {
	display:block;
    content: '';
    border-bottom: solid 3px #FA9017 !important;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.my-menu li a:hover:after {
    transform: scaleX(1);
}

.trait1:after {
    display:block;
    content: '';
    border-bottom: solid 3px #FA9017 !important;  
    transition: transform 250ms ease-in-out;
}

.trait:after {
    display:block;
    content: '';
    border-bottom: solid 3px #FA9017 !important;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.trait:hover:after { transform: scaleX(1); }

/* carousel */
.carousel-center{
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay{
    position: relative;
}

.overlay::before {
    content: '';
    background-color: rgba(92, 91, 91, 0.384);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.margin-bottom{
    margin-bottom: 10rem !important;
    bottom: 0 !important;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #FA9017 !important;
}
 
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    padding: 0;
    margin-right: 5px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
}

.centered h1 {
	font-style: normal;
    font-weight: normal;
    font-size: 90px;
}

.btn-orange{
    background-color: #FA9017 !important;
    font-size: 1rem !important;
}

.btn-orange:hover{
    background-color: #fff !important;
    color: #FA9017 !important;
    font-size: 1rem !important;
}

.bord{
    border-radius: 50%;
    background-color: #fff !important;
    padding: 1rem;
}

/* bienvenu */
.bienvenu{
    margin-top: 3.5rem;
    margin-bottom: 5rem;
}

.bienvenu div img{
    padding: absolute;
    width: 17rem;
    height: 57vh;
    margin-top: 2.3rem;
    margin-left: 2.5rem;
}

.bg-img{
    position: relative;
    width: 17rem;
    height: 22rem;
    background-color: #FA9017 !important;
    border: 0;
}

.btn-orange2{
    text-align: center;
    border: 1px solid #FA9017 !important;
    font-size: 1.1rem !important;
    padding-left: 2.8rem !important;
    padding-right: 2.8rem !important;
    padding-top: .6rem !important;
    padding-bottom: .6rem !important;
    color: rgba(0, 0, 0, 0.78) !important;
}

.btn-orange2:hover{
    background-color: #FA9017 !important;
    text-align: center;
    color: #fff !important;
    transition: .3s;
}

.text-size h1{
    line-height: 1.4rem;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 84px;
    color: rgba(0, 0, 0, 0.78);
}

.text-size p{
    font-size: 18px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.75);
    line-height: 23px;
    font-weight: 300;
}

/* article */
.card-article{
    padding-bottom: 5rem;
}

.image{
    border-radius: 10px;
}

.article{
    position: relative;
}

.article .date {
	position: absolute;
    background-color: #FA9017;
    color: #fff;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

.date a{
    text-decoration: none;
    color: #fff !important;
}

.card-body p a{
    text-decoration: none;
    color: #000 !important;
}

.size-1{
    font-size: 1.1rem !important;
}

.size-2{
    font-size: 1.5rem;
}

.btn-orange3{
    text-align: center;
    border: 1px solid #FA9017 !important;
    font-size: 1.1rem !important;
    color: rgba(0, 0, 0, 0.78) !important;
    text-decoration: none;
}

.btn-orange3:hover{
    background-color: #FA9017 !important;
    text-align: center;
    font-size: 1.1rem !important;
    color: #fff !important;
    text-decoration: none;
    transition: .3s;
}

/* galerie */
.galerie{
    background-color: #FA9017 !important;
}

.galerie div h2{
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    height: 6px;
    width: 4rem;
    bottom: 1.25rem;
    position: absolute;
	background: #fff;
    margin-left: -5rem;
}
.underline::after {
    content: '';
    height: 6px;
    width: 4rem;
    bottom: 1.25rem;
    position: absolute;
	background: #fff;
    margin-left: 1rem;
}

.galerie div a{
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
}

.galerie-image{
    position: relative;
}

.position{
    position: absolute;
    top: 8px !important;
    right: 16px !important;

}

/* background: url(../images/fluent_dual-screen-group-24-regular.svg) no-reapeat center / cover; */

.btn-white{
    background-color: #fff !important;
}
/* footer */
.footer{
    background-color: #1C1D1E;
    padding-top: 3rem;
}

.color-gray{
    background-color: rgba(255, 255, 255, 0.918) !important;
}

.size{
    font-size: .8rem !important;
}

.color-tranp{
    color: rgba(255, 255, 255, 0.747) !important;
    font-weight: normal;
}

.icon-size{
    font-size: 1.6rem;
}
.social-icon{
    border: 2px solid #fff;
    background-color: #1C1D1E;
    border-radius: 5px;
    padding: 2px;
}

.margin{
    margin-bottom: .5rem !important;
}

.footer .padding-bottom{
    margin-bottom: 0 !important;
}

.d-flex li a{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .navbar-nav li {
        text-align: center;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 600px) {
    .navbar-nav li {
        text-align: center;
        font-size: .8rem;
    }
}

@media screen and (max-width: 600px) {
    .centered h1 {
        font-style: normal;
        font-weight: normal;
        font-size: 20px !important;
        line-height: normal;
    }

    .centered p {
        display: none!important;
    }

    .btn-orange{
        display: none!important;
    }
}

@media screen and (max-width: 900px) {
    .centered h1 {
        font-style: normal;
        font-weight: normal;
        font-size: 55px !important;
        line-height: normal;
    }

    .centered p {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: normal;
    }

    .btn-orange{
        background-color: #FA9017 !important;
        font-size: .8rem !important;
    }
}

@media screen and (max-width: 600px) {
    .underline::before {
        display: none!important;
    }
    .underline::after {
        display: none!important;
    }
}

    