body{
    font-family: 'Lato', sans-serif;
}

section h1{
    font-family: 'Dancing Script', cursive;
    font-size: calc(3.937rem + 1.5vw) !important;
}

.bg-image{
    background: url(../images/img-article/telephone.png) no-repeat center / cover;
}

.bg-orange{
    background: #FA9017 !important;
}

section a{
    color:  #404040 !important;
}

.navbar-nav li a {
	font-weight: 700;
    color: #404040;
}

.trait1:after {
    display:block;
    content: '';
    border-bottom: solid 3px #FA9017 !important;  
    transition: transform 250ms ease-in-out;
}

.trait:after {
    display:block;
    content: '';
    border-bottom: solid 3px #FA9017 !important;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.trait:hover:after { transform: scaleX(1); }

.orange-line:hover{
    border-bottom: 3px solid #FA9017;
    font-weight: 700 !important;
}

.color-orange{
    color: #FA9017;
}

.line{
    height: 1.5px;
    background-color: #FA9017;
    width: 3rem;
}

.gform_button {
    color: #000;
    background-color: #FA9017 !important;
    border-color: #FA9017 !important;
  }

.bg-degrade{
    background: linear-gradient(70deg,#FA9017, #F9B84C);
}

.tall-icon{
    width: 2rem;
}



.btn-orange{
    background-color: #FA9017 !important;
    font-size: 1rem !important;
