/* Theme Name: Wayii
Theme URL: https://wayii.com
Author: Aichath DJIBRIL
Author URL: https://Wayii.com
Description: Mon premier thème WordPress
Version: 1.0.0 */

* {
    margin: 0;
    padding: 0;
}

html, body{	
	font-size: 16px;
    color: #404040;
    font-family : 'Lato', sans-serif ;
}

.font-dancing{
	font-family : 'Dancing Script', cursif ;
}

.gform_title{
	display: none;
}
