/*Theme Name: Wayii
Theme URL: https:://wayii.com
Author: Pamela Fagla
Author URL:https:://pamela.com
Description: Mon premier thème wordpress
Version:1.0.0
*/

/* HEADER-NAVBAR */

.header{
    display: flex;
}

.my-menu{
    margin-left: auto;
    display:flex;
    margin-top: auto;
    margin-bottom: auto;
}

.my-menu li{
   margin-right: 3rem;
   list-style: none;
}

.my-menu li a{
   text-decoration: none;
   font-weight: 700;
    color: #404040;
  
}



.trait1:after {
    display:block;
    content: '';
    border-bottom: solid 3px #FA9017 !important;  
    transition: transform 250ms ease-in-out;
}

.my-menu li:after {
    display:block;
    content: '';
    border-bottom: solid 3px #FA9017 !important;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.my-menu li:hover:after { transform: scaleX(1); }

.menu-item-has-children{
    position: relative;
}

.menu-item-has-children a{
    white-space: nowrap;
}

.menu-item-has-children a::after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.sub-menu{
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.sub-menu li{
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.comment__list .even .comment { 
    background-color:#ccddf2; 
    } 

 .commentlist .odd .comment {
        background-color:#CCCCCC;
  } 

  .comment__list, .children{
    list-style: none;
  }

  .avatar{
      border-radius: 50%;
  }

  .says{
      display:none;
  }
  .comments__title{
    display:none;
  }
.comment-meta {
    margin-left: 5rem;
}

.comment-meta p{
    margin-left: 5rem;
}

.url{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.comment-meta a{
    text-decoration: none;
    color: #000;
}

.comment-edit-link{
    text-decoration: none;
    border: 1px solid #FA9017 ;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.comment-reply-link{
    text-decoration: none;
    border: 1px solid #FA9017 ;
    border-radius: 0.3rem;
    padding: 0.5rem;
}



#comment{
    border-radius: 0.3rem;
}


  